.app {
    background-color: rgb(240, 240, 240);
    height: 100vh;
    min-width: 560px;
    display: flex;
    flex-direction: column;
}

.post-container {
    position: relative;
    height: 100%;
    margin-top: 15px;
    padding: 10px;
    background-color: white;
    box-shadow: 2px 2px 24px lightgray;
}

.center-row {
    display: flex;
    align-items: center;
}

.date {
    display: flex;
    position: absolute;
    align-items: center;
    right: 10px;
}

.main-menu {
    height: 80px;
    background-color: white;
    box-shadow: 2px 2px 24px lightgray;
    padding-left: 8px;
    padding-top: 20px;
}

.main-menu-username {
    display: flex;
    position: absolute;
    right: 10px;
}

.loading {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.login-box {
    width: 450px;
    margin-top: 40px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;
    background-color: white;
    box-shadow: 2px 2px 24px lightgray;
}

.login-header {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.login-wrongpass {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);
}

.login-container {
    width: 450px;
    height: 600px;
    margin-top: 20px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.createuser {
    margin-top: 20px;
}

.newpost-box {
    width: 700px;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;
    background-color: white;
    box-shadow: 2px 2px 24px lightgray;
}

.newpost-alert {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%);

}

.newpost-container {
    width: 700px;
    height: 360px;
    margin-top: 20px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.newpost-row {
    position: relative;
    display: flex;
    justify-content: center;
}

.newpost-length {
    position: absolute;
    right: 10px; 
}
